<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DashBoardMockUp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuration" @onclick="ToggleNavMenu">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="systemadmin" @onclick="ToggleNavMenu">
                <span class="oi oi-people" aria-hidden="true"></span> System Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subscribersetup" @onclick="ToggleNavMenu">
                <i class="oi oi-person-add" aria-hidden="true"></i> <i class="oi oi-plus" aria-hidden="true"></i> Subscriber Setup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="featurerequests" @onclick="ToggleNavMenu">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Feature requests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports" @onclick="ToggleNavMenu">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}